html, body {
    font-family: Verdana, Arial, Helvetica;
    font-size: 13px;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}

p {
    line-height: 150%;
    text-align: justify;
}

.loading {
    background: url(/img/spinner.gif) no-repeat center center;
}

.github-ribbon img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 10;
}

.gephi-badge img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    border: 0;
    z-index: 10;
}

#viewport {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 0px;
    color: #000;
}

#content {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    position: absolute;
    width: 640px;
    height: 400px;
    z-index: 1000;
}

.fb-like {
    padding: 5px;
}
